@import "~bootstrap/scss/bootstrap";
@import "~aos/dist/aos.css";
$bootstrap-icons-font-dir: "~bootstrap-icons/font/fonts";
@import "~bootstrap-icons/font/bootstrap-icons.scss";
@import "~boxicons/css/boxicons.min.css";
@import "~remixicon/fonts/remixicon.css";
@import "~swiper/css/bundle";

@import "variables";

@import "general";
@import "header";
@import "nav";
@import "hero";
@import "sections";
@import "footer";

#googlemap {
    width: 100%;
    height: 200px;
}

#currentgooglemap {
    width: 100%;
    height: 425px;
}

//////////////////////////////PROFILE PICTURE//////////////////////////////
@mixin object-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

$circleSize: 165px;
$radius: 100px;
$shadow: 0 0 10px 0 rgba(255, 255, 255, 0.35);
$fontColor: rgb(250, 250, 250);

.profile-pic {
    color: transparent;
    transition: all 0.3s ease;
    @include object-center;
    position: relative;
    transition: all 0.3s ease;

    input {
        display: none;
    }

    img {
        position: absolute;
        object-fit: cover;
        width: $circleSize;
        height: $circleSize;
        box-shadow: $shadow;
        border-radius: $radius;
        z-index: 0;
    }

    .-label {
        cursor: pointer;
        height: $circleSize;
        width: $circleSize;
    }

    &:hover {
        .-label {
            @include object-center;
            background-color: rgba(0, 0, 0, 0.8);
            z-index: 10000;
            color: $fontColor;
            transition: background-color 0.2s ease-in-out;
            border-radius: $radius;
            margin-bottom: 0;
        }
    }

    span {
        display: inline-flex;
        padding: 0.2em;
        height: 2em;
    }
}
///////////////////////////////////////////////////////////////////////////
