@import "~bootstrap/scss/bootstrap";
@import "~aos/dist/aos.css";
$bootstrap-icons-font-dir: "~bootstrap-icons/font/fonts";
@import "~bootstrap-icons/font/bootstrap-icons.scss";
@import "~boxicons/css/boxicons.min.css";
@import "~remixicon/fonts/remixicon.css";
@import "~swiper/css/bundle";

@import "variables";

@import "general";
@import "header";
@import "nav";
@import "hero";
@import "sections";
@import "footer";

#googlemap {
  width: 100%;
  height: 200px;
}

#currentgooglemap {
  width: 100%;
  height: 425px;
}
